.hidden_hzwangzhiwei {
	display:none !important;
}

.server_name_span_hzwangzhiwei {
	color:black;
}

.assign_name_hzwangzhiwei {
	font-size: 14px;
	font-family: "Microsoft YaHei";
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}